* {
  box-sizing: border-box;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1000px;
  background-color: gainsboro;

  .logInBox {
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    background-color: white;
    margin-top: 150px;
    width: 400px;
    height: 460px;
  }

  .logInlogo {
    font-family: 'Dancing Script', cursive;
    font-size: 350%;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  input,
  button {
    display: inline-block;

    width: 300px;
    height: 38px;
    padding: 0px 0px 0px 8px;
  }

  input {
    border: 2px solid gainsboro;
    border-radius: 8px;
    background-color: whitesmoke;
  }

  button {
    opacity: 0.5;
    border: 0px;
    outline: 0px;
    border-radius: 8px;
    color: white;
    background-color: #3a72da;

    &.active {
      background-color: #3a72da;
      opacity: 1;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    color: #3a72da;
    text-decoration: none;
    font-size: 13px;
  }

  .text,
  .password {
    margin-bottom: 4%;
  }

  .button {
    margin-bottom: 60px;
  }
}
