.TopNav {
  height: 50px;
  margin-bottom: 30px;
  background-color: rgb(255, 242, 223);

  .logo {
    display: inline-block;
    margin: 10px 0px 0px 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
    font-weight: bold;
  }

  .menu {
    display: inline;
    float: right;
    margin-top: 16px;
    margin-right: 30px;
    color: rgb(172, 164, 153);
    text-decoration: none;
  }
}
