.menu {
  .listMenuImgWrapper {
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: 300px;
      transition: all 0.5s ease-in-out;
    }

    img:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }

  p {
    padding: 20px 0;
  }
}
